@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
  color: #fff;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.Form {
  display: flex;
  margin-bottom: 20px;
}

.Form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.Form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4f46e5;
  color: #fff;
  border: none;
  cursor: pointer;
}

.allTodos {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.singleTodo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4f46e5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #4f46e5;
  
}
.singleTodo.completed {
    background-color: #4a3b6e;
    cursor: not-allowed;
    text-decoration: line-through;
    color: #888;
  }

.todoText {
  flex: 1;
}

.singleTodo button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
} 
.singleTodo button svg {
    width: 20px;
    height: 20px;
  }
  


